* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    transition: all 0.3s;
}

@font-face {
	font-family: 'Oswald';
	src: url("fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
	font-family: 'Rubik';
	src: url("fonts/Rubik_Beastly/RubikBeastly-Regular.ttf");
}

body {
    background-color: #303030;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}

header {
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}
.header-back {
    background: url("img/gta.png") no-repeat right bottom, url("img/stalker.png") no-repeat left bottom;
    background-size: 180px;
    padding: 20px 200px;
    color: #1c1c1c;
}
@media screen and (max-width: 690px) {
    .list-header {
        justify-content: center;
    }
    .header-back {
        padding: 20px 5px;
        color: white;
    }
    header {
        background: rgba(68,73,65,1);
        background: -moz-linear-gradient(-45deg, rgba(68,73,65,1) 0%, rgba(95,122,97,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(68,73,65,1)), color-stop(100%, rgba(95,122,97,1)));
        background: -webkit-linear-gradient(-45deg, rgba(68,73,65,1) 0%, rgba(95,122,97,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(68,73,65,1) 0%, rgba(95,122,97,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(68,73,65,1) 0%, rgba(95,122,97,1) 100%);
        background: linear-gradient(135deg, rgba(68,73,65,1) 0%, rgba(95,122,97,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444941', endColorstr='#5f7a61', GradientType=1 );
    }
}
.block-text {
    margin: 50px 0;
}
.btn {
    margin-top: 20px;
    display: block;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 100px;
    color: #1c1c1c;
    text-decoration: none;
    background-color: white;
    font-family: Rubik;
    transition: all 0.5s;
}
.btn:hover {
    color: white;
    background-color: #1c1c1c;
}

main {
    margin: 30px 10px;
}
.container > h2 {
    color: white;
    text-shadow: 0 0 10px black
}
.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.list > a {
    text-align: center;
    margin: 10px;
    border: 3px dotted white;
    background-color: #1c1c1c;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    min-width: 120px;
    border-radius: 5px;
}
header .list > a {
    margin: 5px;
    padding: 10px 5px;
    text-align: center;
    min-width: 80px;
    border-radius: 100px;
}
.list > a:hover {
    background-color: #303030;
}

.block-color {
    min-width: 170px;
    width: 45%;
    align-items: center;
    margin: 10px;
}
.block-color > p {
    display: block;
    padding: 20px 40px;
    text-align: center;
}
.list-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.list-header > a {
    margin: 5px;
}
footer {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    position: sticky; bottom: 0; left:0; right: 0;
    font-size: 20px;
}
