* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --color-green: #48fd57;
    --color-gray: #727272;
    --color-black: #1c1c1c;
    --color-yellow: #fdfa48;
}

body {
    background: url("body.jpg") repeat top left;
    background-size: 400px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.margin {
    margin: 0 20px;
}
.d-flex {
    display: flex;
    align-items: center;
}
.between {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.between > * {
    margin: 10px;
}

header {
    padding: 15px;
    box-shadow: 0 0 20px 0px var(--color-black);
    background-color: var(--color-black);
}
.logo {
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu a {
    margin: 0 10px;
    color: var(--color-green);
    text-decoration: none;
}
.menu a:hover {
    text-shadow: 0 0 5px var(--color-green);
    text-decoration: overline;
}

.block-one {
    min-width: 100px;
    width: 45%;
    min-height: 200px;
    box-shadow: 0 0 20px 0px var(--color-black);
    border-radius: 5px;
}

.prev {
    margin: 40px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background: rgb(76,34,195);
    background: linear-gradient(90deg, rgba(76,34,195,1) 0%, rgba(45,188,253,1) 100%);
}
.block-1 {
    width: 40%;
}
.block-1 p {
    margin-bottom: 20px;
}
.block-1 img {
    border-radius: 5px;
    width: 100%;
}

.block-2 {
    width: 50%;
}
.block-2 h2 {
    margin-bottom: 20px;
}
.p-list {
    display: flex;
    flex-flow: row wrap;
}
.p-list > * {
    margin: 5px;
}

.autobiography h2 {
    margin-bottom: 20px;
}
.autobiography p {
    padding: 10px;
    background-color: #ffdf75;
    border-bottom: 1px solid var(--color-black);
    color: var(--color-black);
}

.block-li {
    display: flex;
    align-items: center;
    color: white;
}
.block-li .number-block {
    padding: 10px;
    background-color: var(--color-black);
}
.block-li .text-block {
    padding: 10px;
    background-color: var(--color-green);
    color: var(--color-black);
}

.but-list {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
}
.but-list > * {
    margin: 5px;
}
.but-vk {
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(71, 129, 255);
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.but-tg {
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(55, 175, 255);
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.but-number {
    border: 2px solid white;
    padding: 10px;
    background-color: rgb(30, 211, 114);
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.but-vk:hover, .but-number:hover, .but-tg:hover {
    opacity: 0.8;
}

.works {
    background: rgb(76,34,195);
    background: linear-gradient(90deg, rgba(76,34,195,1) 0%, rgba(45,188,253,1) 100%);
    margin: 50px 0;
    padding: 30px 0;
}
.works h2 {
    color: white;
    margin-bottom: 20px;
}
.list-work {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.list-work > * {
    margin: 5px;
}
.card {
    min-width: 200px;
    max-width: 350px;
}
.card img {
    width: 100%;
    border-radius: 5px;
}
.card .card-text {
    background-color: var(--color-black);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

footer {
    padding: 10px 0;
    background-color: var(--color-black);
}
footer .between {
    align-items: center;
}

@media screen and (min-width: 962px) {
    .card:hover {
        outline: 2px solid white;
    }
    .autobiography p:hover {
        font-size: 30px;
        font-weight: 600;
    }
    .p-list {
        min-width: 300px;
    }
}

@media screen and (max-width: 962px) {
    .block-1 {
        width: 100%;
    }
    .block-2 {
        width: 100%;
    }
    .list-work {
        justify-content: center;
    }
    .prev {
        border-radius: 0;
        margin: 40px 0px;
    }
    .p-list {
        min-width: 200px;
    }
}
