<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/icon/logo.png">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>#damir_varlamov</title>
</head>
<body>
    <header class="header">
        <div class="container between">
            <div class="header-title">
                <h1>Varlamov Damir</h1>
                <small>Web-developer</small>
            </div>
            <div class="header-info">
                <div class="card-small">
                    <div class="block-icon">
                        <img class="icon" src="../img/icon/info.png">
                        <h2>About</h2>
                    </div>
                    <p>My name is Damir. I'm 18 years old.
                        I love web development</p>
                </div>
                <div class="card-small">
                    <div class="block-icon">
                        <img class="icon" src="../img/icon/medal.png">
                        <h2>Awards</h2>
                    </div>
                    <p>I have participated in WorldSkills Russia
                        competitions twice and won prizes</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <nav class="menu">
            <ul>
                <a class="but block-icon" href="../templates/works.html"><img class="icon" src="../img/icon/works.png"><li>works</li></a>
                <a class="but block-icon" href="../index.html"><img class="icon" src="../img/icon/stack.png"><li>home</li></a>
                <a class="but block-icon" href="../templates/achievements.html"><img class="icon" src="../img/icon/medal.png"><li>achievements</li></a>
            </ul>
        </nav>
        <section class="container">
            <div class="marg">
                <div class="card-list works">
                    <div class="work">
                        <img src="../img/photo/1.png">
                        <h2>Blog site</h2>
                    </div>
                    <div class="work">
                        <img src="../img/photo/2.png">
                        <h2>Call of Duty</h2>
                    </div>
                    <div class="work">
                        <img src="../img/photo/3.png">
                        <h2>My Bank</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>