# Настройки приложения
SECRET_KEY=KLHEGOL:KWEJGIWEJFAIFJAEFIOAEFPJAI
DATABASE_URL=sqlite:///app.db
FLASK_APP=run.py
FLASK_ENV=development

# Настройки для production
# DATABASE_URL=postgresql://username:password@localhost/dbname