# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.xlsx
документация/

# Virtual Environment
venv/
ENV/
env/

# Database
*.db
*.sqlite3

# Environment variables
.env
.venv

# Flask
instance/

# Migrations (можно коммитить, но часто исключают в dev)
# migrations/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log